.root{
    -fx-background-image:url("../../../../resources/Images/end.jpg");
    -fx-background-repeat: stretch ;
    -fx-background-position: center ;
    -fx-background-size: 100% 100% ;

}

Button {
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-font-size: 17;
    -fx-padding: 1,1,1,1;
    -fx-background-color: #f44336;
    -fx-text-fill: black;

}


Button:hover{

    -fx-background-color: rgba(178 , 223, 251, 0.8);

}